/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    
    background-image: url(../images/background.png);

   display: block;


}

#wrapper {
    width: 100%;
    height: 870px;
    border: none;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#innerbox {
    width: 1000px;
    height: 100%;
    border: none;
 

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
 
}

#keyboard {
    background-repeat: no-repeat;
    width: 800px;
    height: 275px;
    background-size: 800px, 308px;
    opacity: 100%;
    border: none;
    display: flex;
    position: absolute;    


}

#monitor {
    background-repeat: no-repeat;
    width: 600px;
    height: 720px;
    background-size: 550px, 720px;
    opacity: 100%;
    background-image :url(../images/Computer.png);
    border: none;
}

#inner-monitor {
    margin-left: 100px;
    margin-top: 40px;
    width: 420px;
    height: 330px;
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}
#text-box{
    height: 220px;
    width: 350px;
    background-color: white;
    border: solid black 1px;
    margin-top: 70px;
    margin-left: 20px;
}
#entry-box {
    height: 20px;
    width: 200px;
    margin-top: 30px;
    margin-left: 20px;
}

#submit {
 width: 150px;
}
#getSloth {
    height: 30px;
}

#entry-box {
    height: 30px;
}

ul {
    margin-top: 10px;
    margin-left: 7px;
}


#youEntered {
    font-size:20px;
    font-family:'Courier New', Courier, monospace
}

#otherSloths{
    font-family:'Courier New', Courier, monospace
}

#slothItem{
    font-family:'Courier New', Courier, monospace
}

#intro-box{
    margin-left: 10px;
    font-family:'Courier New', Courier, monospace;
}
.intro{ 
    font-family:'Courier New', Courier, monospace;
    font-size: 5px;
}

.introText{
    font-size: 13px;
}
.brk{
    color: white;
    
}



.leftHand{
    width: 280px;
    height: 385px;
    background-repeat: no-repeat;
    position: absolute;
    padding-left: 70px;
    padding-top: 100px;
    background-size: 250px 385px;
    border: none;
   
}
.rightHand{
    width: 280px;
    height: 385px;
    background-repeat: no-repeat;
    position: absolute;
    padding-left: 360px;
    padding-top: 100px;
    background-size: 250px 385px;
    border: none;
}

#hands_keys {
    display: flex;
    width: 1000px;
    margin-left: 150px;
    height: 350px;
    
}

.rightHandWrapper{
    display: block;
    width: 400px;
    height: 385px;
    border: black, 1px, solid;
    position: absolute;
}
.leftHandWrapper{
    display: block;
    width: 380px;
    height: 385px;
    border: black, 1px, solid;
    position: absolute;
}

#lh_unpressed {
    content: url(../images/Hands/LH/leftHandUnpressed.png);
}

#rh_unpressed {
    content: url(../images/Hands/RH/rh_unpressed.png);
}

#rh_y_pressed {
    content: url(../images/Hands/RH/rh_0_0.png);
    margin-top: -40px;
    margin-left: -30px;
    
   
}

#rh_h_pressed {
    content: url(../images/Hands/RH/rh_0_1.png);
    margin-top: -10px;
    margin-left: 10px;
  
}

#rh_n_pressed {
    content: url(../images/Hands/RH/rh_0_2.png);
    margin-top: -35px;
    margin-left: 10px;
}

#rh_i_pressed {
    content: url(../images/Hands/RH/rh_2_0.png);
    margin-top: -15px;
    margin-left: -20px;

}

#rh_k_pressed {
    content: url(../images/Hands/RH/rh_2_1.png);
    margin-top: 25px;
    margin-left: 10px;
  
}

#rh_,_pressed {
    content: url(../images/Hands/RH/rh_2_2.png);
}

#rh_m_pressed {
    content: url(../images/Hands/RH/rh_1_2.png);
    margin-left: 40px;
    margin-top: -20px;
}

#rh_u_pressed {
    content: url(../images/Hands/RH/rh_1_0.png);
    margin-top: -20px;
    margin-left: -40px;
 
}

#rh_j_pressed {
    content: url(../images/Hands/RH/rh_1_1.png);
    margin-left: 15px;
}

#rh_o_pressed {
    content: url(../images/Hands/RH/rh_3_0.png);
    margin-top: -20px;
    margin-left: -27px;

}

#rh_p_pressed {
    content: url(../images/Hands/RH/rh_4_0.png);
    margin-top: -20px;
    margin-left: -40px;
 
}

#rh_l_pressed{
    content: url(../images/Hands/RH/rh_3_0.png);
    margin-top: 20px;
    margin-left: -15px;
}

#rh_lbrac_pressed{
    content: url(../images/Hands/RH/rh_5_0.png);
    margin-top: -45px;
}

#rh_semicolon_pressed{
    content: url(../images/Hands/RH/rh_4_1.png);
    margin-top: -10px;
}

#rh_comma_pressed{
    content: url(../images/Hands/RH/rh_2_2.png);
    margin-top: 20px;
    margin-left: 25px;
}

#rh_period_pressed{
    content: url(../images/Hands/RH/rh_3_2.png);
    margin-left: 45px;
    margin-top: -15px;
}

#rh_slash_pressed{
    content: url(../images/Hands/RH/rh_4_2.png);
    margin-left: 45px;
}

#rh_quote_pressed{
    content: url(../images/Hands/RH/rh_4_1.png);
    margin-left: 45px
}

#rh_rbrac_pressed{
    content: url(../images/Hands/RH/rh_5_0.png);
    margin-top: -45px;
    margin-left: 45px;
}

#rh_space_pressed{
    content: url(../images/Hands/RH/rh_space.png);
}

#lh_space_pressed{
    content: url(../images/Hands/LH/leftHandUnpressed.png);
}
#lh_f_pressed {
    content: url(../images/Hands/LH/lh_2_1.png);
    margin-left: -17px;
    margin-top: -5px;
}

#lh_d_pressed {
    content: url(../images/Hands/LH/lh_3_1.png);
    margin-left: -10px;
}

#lh_r_pressed {
    content: url(../images/Hands/LH/lh_2_0.png);
    margin-top: -25px;
    margin-left: 10px;

}

#lh_e_pressed {
    content: url(../images/Hands/LH/lh_3_0.png);
    margin-top: -20px;
    margin-left: -5px;
}

#lh_c_pressed {
    content: url(../images/Hands/LH/lh_3_2.png);
    margin-top: 25px;
    margin-left: 18px;
}

#lh_v_pressed{
    content: url(../images/Hands/LH/lh_2_2.png);
    margin-top: -20px;
    margin-left: 10px;
}

#lh_s_pressed{
  
    content: url(../images/Hands/LH/lh_4_1.png);
}

#lh_w_pressed{
    content: url(../images/Hands/LH/lh_4_0.png);
    margin-top: -25px;
    margin-left: -5px;

}

#lh_x_pressed{
    content: url(../images/Hands/LH/lh_4_2.png);
    margin-top: -15px;

}

#lh_a_pressed{
    content: url(../images/Hands/LH/lh_5_1.png);
    margin-top: -10px;
}

#lh_z_pressed{
    content: url(../images/Hands/LH/lh_5_2.png);
    margin-left: -5px;
    margin-top: -10px;
}

#lh_q_pressed{
    content: url(../images/Hands/LH/lh_5_0.png);
    margin-top: -25px;
    margin-left: 15px;
}

#lh_g_pressed{
    content: url(../images/Hands/LH/lh_0_1.png);
    margin-top: -8px;
  
}

#lh_t_pressed{
    content: url(../images/Hands/LH/lh_0_0.png);
    margin-top: -35px;
    margin-left: 10px;
 
}

#lh_b_pressed{
    content: url(../images/Hands/LH/lh_0_2.png);
    margin-top: -30px;
    margin-left: 35px;
}


.unpressed {
    background-image: url(../images/keyboard/Keyboard.png);
}

.a_pressed {
    background-image: url(../images/keyboard/a_pressed.png);
}

.w_pressed {
    background-image: url(../images/keyboard/w_pressed.png);
}

.q_pressed {
    background-image: url(../images/keyboard/q_pressed.png);
}

.e_pressed {
    background-image: url(../images/keyboard/e_pressed.png);
}

.r_pressed {
    background-image: url(../images/keyboard/r_pressed.png);
}

.t_pressed {
    background-image: url(../images/keyboard/t_pressed.png);
}

.y_pressed {
    background-image: url(../images/keyboard/y_pressed.png);
}

.u_pressed {
    background-image: url(../images/keyboard/u_pressed.png);
}


.i_pressed {
    background-image: url(../images/keyboard/i_pressed.png);
}

.o_pressed {
    background-image: url(../images/keyboard/o_pressed.png);
}

.p_pressed {
    background-image: url(../images/keyboard/p_pressed.png);
}

.s_pressed {
    background-image: url(../images/keyboard/s_pressed.png);
}

.d_pressed {
    background-image: url(../images/keyboard/d_pressed.png);
}

.f_pressed {
    background-image: url(../images/keyboard/f_pressed.png);
}

.g_pressed {
    background-image: url(../images/keyboard/g_pressed.png);
}

.h_pressed {
    background-image: url(../images/keyboard/h_pressed.png);
}

.j_pressed {
    background-image: url(../images/keyboard/j_pressed.png);
}

.k_pressed {
    background-image: url(../images/keyboard/k_pressed.png);
}

.l_pressed {
    background-image: url(../images/keyboard/l_pressed.png);
}

.z_pressed {
    background-image: url(../images/keyboard/z_pressed.png);
}

.x_pressed {
    background-image: url(../images/keyboard/x_pressed.png);
}

.c_pressed {
    background-image: url(../images/keyboard/c_pressed.png);
}

.v_pressed {
    background-image: url(../images/keyboard/v_pressed.png);
}

.b_pressed {
    background-image: url(../images/keyboard/b_pressed.png);
}

.n_pressed {
    background-image: url(../images/keyboard/n_pressed.png);
}

.m_pressed {
    background-image: url(../images/keyboard/m_pressed.png);
}

.lbrac_pressed{
    background-image: url(../images/keyboard/lbrac_pressed.png);
}

.semicolon_pressed{
    background-image: url(../images/keyboard/semicolon_pressed.png);
}

.comma_pressed{
    background-image: url(../images/keyboard/comma_pressed.png);
}

.period_pressed{
    background-image: url(../images/keyboard/period_pressed.png);   
}

.slash_pressed{
    background-image: url(../images/keyboard/slash_pressed.png);   
}

.quote_pressed{
    background-image: url(../images/keyboard/quote_pressed.png);   
}

.rbrac_pressed{
    background-image: url(../images/keyboard/rbrac_pressed.png); 
}

.space_pressed{
    background-image: url(../images/keyboard/space_pressed.png); 
}