

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  border: none;
}



body {
    
    background-image: url(../images/background.png);

   display: block;


}

#wrapper {
    width: 100%;
    height: 870px;
    border: none;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#innerbox {
    width: 1000px;
    height: 100%;
    border: none;
 

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
 
}

#keyboard {
    background-repeat: no-repeat;
    width: 800px;
    height: 350px;
    background-size: 800px, 308px;
    opacity: 100%;
    border: none;
}

#monitor {
    background-repeat: no-repeat;
    width: 600px;
    height: 720px;
    background-size: 550px, 720px;
    opacity: 100%;
    background-image :url(../images/Computer.png);
    border: none;
}

#inner-monitor {
    margin-left: 100px;
    margin-top: 40px;
    width: 420px;
    height: 330px;
    display: flex;
}

#entry-box {
    height: 20px;
    width: 200px;
    margin-top: 260px;
    margin-left: 20px;
}

#submit {
 width: 150px;
}


.unpressed {
    background-image: url(../images/keyboard/Keyboard.png);
}

.a_pressed {
    background-image: url(../images/keyboard/apressed.png);
}

.w_pressed {
    background-image: url(../images/keyboard/w_pressed.png);
}

.q_pressed {
    background-image: url(../images/keyboard/q_pressed.png);
}

.e_pressed {
    background-image: url(../images/keyboard/e_pressed.png);
}

.r_pressed {
    background-image: url(../images/keyboard/r_pressed.png);
}

.t_pressed {
    background-image: url(../images/keyboard/t_pressed.png);
}

.y_pressed {
    background-image: url(../images/keyboard/y_pressed.png);
}

.u_pressed {
    background-image: url(../images/keyboard/u_pressed.png);
}


.i_pressed {
    background-image: url(../images/keyboard/i_pressed.png);
}

.o_pressed {
    background-image: url(../images/keyboard/o_pressed.png);
}

.p_pressed {
    background-image: url(../images/keyboard/p_pressed.png);
}

.s_pressed {
    background-image: url(../images/keyboard/s_pressed.png);
}

.d_pressed {
    background-image: url(../images/keyboard/d_pressed.png);
}

.f_pressed {
    background-image: url(../images/keyboard/f_pressed.png);
}

.g_pressed {
    background-image: url(../images/keyboard/g_pressed.png);
}

.h_pressed {
    background-image: url(../images/keyboard/h_pressed.png);
}

.j_pressed {
    background-image: url(../images/keyboard/j_pressed.png);
}

.k_pressed {
    background-image: url(../images/keyboard/k_pressed.png);
}

.l_pressed {
    background-image: url(../images/keyboard/l_pressed.png);
}

.z_pressed {
    background-image: url(../images/keyboard/z_pressed.png);
}

.x_pressed {
    background-image: url(../images/keyboard/x_pressed.png);
}

.c_pressed {
    background-image: url(../images/keyboard/c_pressed.png);
}

.v_pressed {
    background-image: url(../images/keyboard/v_pressed.png);
}

.b_pressed {
    background-image: url(../images/keyboard/b_pressed.png);
}

.n_pressed {
    background-image: url(../images/keyboard/n_pressed.png);
}

.m_pressed {
    background-image: url(../images/keyboard/m_pressed.png);
}