/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    
    background-image: url(../images/background.png);

   display: block;


}

#wrapper {
    width: 100%;
    height: 870px;
    border: none;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#innerbox {
    width: 1000px;
    height: 100%;
    border: none;
 

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
 
}

#keyboard {
    background-repeat: no-repeat;
    width: 800px;
    height: 275px;
    background-size: 800px, 308px;
    opacity: 100%;
    border: none;
    display: flex;
    position: absolute;    


}

#monitor {
    background-repeat: no-repeat;
    width: 600px;
    height: 720px;
    background-size: 550px, 720px;
    opacity: 100%;
    background-image :url(../images/Computer.png);
    border: none;
}

#inner-monitor {
    margin-left: 100px;
    margin-top: 40px;
    width: 420px;
    height: 330px;
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}
#text-box{
    height: 200px;
    width: 350px;
    background-color: white;
    border: solid black 1px;
    margin-top: 70px;
    margin-left: 20px;
}
#entry-box {
    height: 20px;
    width: 200px;
    margin-top: 30px;
    margin-left: 20px;
}

#submit {
 width: 150px;
}
#getSloth {
    height: 30px;
}

#entry-box {
    height: 30px;
}

ul {
    margin-top: 10px;
    margin-left: 7px;
}
.leftHand{
    width: 280px;
    height: 320px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 80px;
    margin-top: 100px;
    background-size: 250px 385px;
}
.rightHand{
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 360px;
    margin-top: 100px;
    background-size: 250px 385px;
}

#hands_keys {
    display: flex;
    width: 1000px;
    margin-left: 150px;
    height: 350px;
}

#lh_unpressed {
    background-image: url(../images/Hands/LH/leftHandUnpressed.png);
}

#rh_unpressed {
    background-image: url(../images/Hands/RH/rh_unpressed.png);
}

#lh_f_pressed {
    background-image: url(../images/Hands/LH/lh_2_1.png);
    margin-left: 80px;
}

#lh_d_pressed {
    background-image: url(../images/Hands/LH/lh_3_1.png);
    margin-left: 80px;
}

#lh_r_pressed {
    background-image: url(../images/Hands/LH/lh_2_0.png);
    margin-top: 80px;
    margin-left: 100px;
}

#lh_e_pressed {
    background-image: url(../images/Hands/LH/lh_3_0.png);
    margin-top: 80px;
    margin-left: 80px;
}

#lh_c_pressed {
    background-image: url(../images/Hands/LH/lh_3_2.png);
    margin-top: 110px;
    margin-left: 110px;
}

#lh_v_pressed{
    background-image: url(../images/Hands/LH/lh_2_2.png);
    margin-top: 80px;
    margin-left: 100px;
}

#lh_s_pressed{
    margin-top: 110px;
    background-image: url(../images/Hands/LH/lh_4_1.png);
}

#lh_w_pressed{
    margin-top: 80px;
    background-image: url(../images/Hands/LH/lh_4_0.png);
}

#lh_x_pressed{
    margin-top: 90px;
    background-image: url(../images/Hands/LH/lh_4_2.png);
}

#lh_a_pressed{
    background-image: url(../images/Hands/LH/lh_5_1.png);
}

#lh_z_pressed{
    margin-top: 100px;
    background-image: url(../images/Hands/LH/lh_5_2.png);
}

#lh_q_pressed{
    background-image: url(../images/Hands/LH/lh_5_0.png);
    margin-top: 80px;
}

#lh_g_pressed{
    background-image: url(../images/Hands/LH/lh_0_1.png);
    margin-top: 90px;
    margin-left: 100px;
}

#lh_t_pressed{
    background-image: url(../images/Hands/LH/lh_0_0.png);
    margin-top: 70px;
    margin-left: 100px;
}

#lh_b_pressed{
    background-image: url(../images/Hands/LH/lh_0_2.png);
    margin-top: 70px;
    margin-left: 130px;
}


.unpressed {
    background-image: url(../images/keyboard/Keyboard.png);
}

.a_pressed {
    background-image: url(../images/keyboard/apressed.png);
}

.w_pressed {
    background-image: url(../images/keyboard/w_pressed.png);
}

.q_pressed {
    background-image: url(../images/keyboard/q_pressed.png);
}

.e_pressed {
    background-image: url(../images/keyboard/e_pressed.png);
}

.r_pressed {
    background-image: url(../images/keyboard/r_pressed.png);
}

.t_pressed {
    background-image: url(../images/keyboard/t_pressed.png);
}

.y_pressed {
    background-image: url(../images/keyboard/y_pressed.png);
}

.u_pressed {
    background-image: url(../images/keyboard/u_pressed.png);
}


.i_pressed {
    background-image: url(../images/keyboard/i_pressed.png);
}

.o_pressed {
    background-image: url(../images/keyboard/o_pressed.png);
}

.p_pressed {
    background-image: url(../images/keyboard/p_pressed.png);
}

.s_pressed {
    background-image: url(../images/keyboard/s_pressed.png);
}

.d_pressed {
    background-image: url(../images/keyboard/d_pressed.png);
}

.f_pressed {
    background-image: url(../images/keyboard/f_pressed.png);
}

.g_pressed {
    background-image: url(../images/keyboard/g_pressed.png);
}

.h_pressed {
    background-image: url(../images/keyboard/h_pressed.png);
}

.j_pressed {
    background-image: url(../images/keyboard/j_pressed.png);
}

.k_pressed {
    background-image: url(../images/keyboard/k_pressed.png);
}

.l_pressed {
    background-image: url(../images/keyboard/l_pressed.png);
}

.z_pressed {
    background-image: url(../images/keyboard/z_pressed.png);
}

.x_pressed {
    background-image: url(../images/keyboard/x_pressed.png);
}

.c_pressed {
    background-image: url(../images/keyboard/c_pressed.png);
}

.v_pressed {
    background-image: url(../images/keyboard/v_pressed.png);
}

.b_pressed {
    background-image: url(../images/keyboard/b_pressed.png);
}

.n_pressed {
    background-image: url(../images/keyboard/n_pressed.png);
}

.m_pressed {
    background-image: url(../images/keyboard/m_pressed.png);
}